extension/GTKN Blind Extension
extension/node_modules
page.json
bkup/*
node_modules/*
.env
backend/venv
__pycache__/
*.py[cod]
*$py.class
# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

.DS_Store

extension/VIX/*
extension/VIX/.DS_Store 
extension/VIX/VIX.safariextension